@import url(
  https://fonts.googleapis.com/css?family=Lato:400,
  700,
  900&display=swap
);
@import url(https://fonts.googleapis.com/css?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7ecf2;
}
